.photo-container
{
	width:100%;
	height:auto;

}

.p-one
{
	display:inline-block;
}

.one-pic
{
	width:290px;
	height:auto;
}

.p-two
{
	display:inline-block;
}

.two-pic
{
	width:290px;
	height:auto;
}

.p-three
{
	display:inline-block;
}

.three-pic
{
	width:290px;
	height:auto;
}

.p-four
{
	display:inline-block;
}

.four-pic
{
	width:290px;
	height:auto;
}

.p-five
{
	display:inline-block;
}

.five-pic
{
	width:290px;
	height:auto;
}

.sketch-container
{
	width:100%;
	height:auto;

}

.s-one
{
	display:inline-block;
}

.one-sketch
{
	width:290px;
	height:auto;
}

.s-two
{
	display:inline-block;
}

.two-sketch
{
	width:290px;
	height:auto;
}

.s-three
{
	display:inline-block;
}

.three-sketch
{
	width:290px;
	height:auto;
}

.s-four
{
	display:inline-block;
}

.four-sketch
{
	width:290px;
	height:auto;
}

.s-five
{
	display:inline-block;
}

.five-sketch
{
	width:290px;
	height:auto;
}