.part1
{
	margin-left:30px;
	font-size:30px;
	font-family: 'Titillium Web';
}

.part2
{
	margin-left:30px;
	font-size:30px;
	font-family: 'Titillium Web';
}

.part3
{
	margin-left:30px;
	font-size:30px;
	font-family: 'Titillium Web';
}